/* STYLE SHEET FOR INDEX.HTM */

@font-face {
	font-family: oregonfont;
	src: url("../media/oregon book.ttf");
}

body {

	font-family: oregonfont;
	font-size: 85%;
	background: white;
}
	
footer {
	background-color: silver;
}

header {
	background: silver;
}
section{

	background: silver;
}

nav {
	
}

article
{
	position: left
	width: 50%;
	background: darkgrey;
}

aside
{
	position: right;
	width: 50%;
	background: darkgrey;
}
