.header {
	background-color: #A4AD84; /*greenish color*/
}

.column {
	float: left;
}
.row:after{
	content: "";
	display: table;
	clear:both;
}
img.rounded-corners{
	border-radius: 120px 20px 120px 20px;
}
.profile {
	margin: auto;
	width: 70%;
	padding: 90px 0;
	font-size: 22px;
}
.shortcuts{
	margin: auto;
	width: 80%;
	padding: 10px 0;
}

.side {
	background-color: #D8D5E3; /* purplish color*/
}
